# =========================
# 🐍 BACKEND (Python)
# =========================
backend/venv/
venv/
env/
__pycache__/
*.pyc

# 🗄️ BANCO DE DADOS (Impede de sobrescrever o banco de produção!)
*.db
*.sqlite3

# =========================
# ⚛️ FRONTEND (Node/React)
# =========================
frontend/node_modules/
node_modules/
dist/
dist-ssr/
*.local

# =========================
# 💻 SISTEMA OPERACIONAL E EDITORES
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
.env