--
-- PostgreSQL database cluster dump
--

\restrict KtyI5caLnhI9xoMhtuHy21U6fjXx73bSToytss0Mu8nTnMBGiCxGiy7tKTcJiOY

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE estoque_db;




--
-- Drop roles
--

DROP ROLE admin;


--
-- Roles
--

CREATE ROLE admin;
ALTER ROLE admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:e8sL+xBUv6kwQt3eCCS38w==$nsJyh45+8/H1OYr5bPtwP5TREAsRiUKiAz+t/gs1JnE=:J++CNJEP1J4RjKFyt2urEoZnmoNEaYasVYcG1aAbG2g=';

--
-- User Configurations
--








\unrestrict KtyI5caLnhI9xoMhtuHy21U6fjXx73bSToytss0Mu8nTnMBGiCxGiy7tKTcJiOY

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO admin;

\unrestrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL
\connect template1
\restrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: admin
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL
\connect template1
\restrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: admin
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Vf9RP4PXegB5gcwJ0r2I8fLvYszb1IsnqQR5UWtJdRBkdPLIQs1e4UnNMsYXQNL

--
-- Database "estoque_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 5xuxpygcgYBP3ICpGR5aeQ8UHb3mSWfkN4C38PFPtKj1xCuZCu4vSMft1o5iH2X

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estoque_db; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE estoque_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE estoque_db OWNER TO admin;

\unrestrict 5xuxpygcgYBP3ICpGR5aeQ8UHb3mSWfkN4C38PFPtKj1xCuZCu4vSMft1o5iH2X
\connect estoque_db
\restrict 5xuxpygcgYBP3ICpGR5aeQ8UHb3mSWfkN4C38PFPtKj1xCuZCu4vSMft1o5iH2X

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entradas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.entradas (
    id integer NOT NULL,
    item_id integer,
    nfe character varying,
    quantidade integer,
    data_entrega timestamp without time zone,
    observacao character varying
);


ALTER TABLE public.entradas OWNER TO admin;

--
-- Name: entradas_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.entradas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entradas_id_seq OWNER TO admin;

--
-- Name: entradas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.entradas_id_seq OWNED BY public.entradas.id;


--
-- Name: itens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.itens (
    id integer NOT NULL,
    codigo character varying,
    nome character varying,
    quantidade_atual integer
);


ALTER TABLE public.itens OWNER TO admin;

--
-- Name: itens_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.itens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.itens_id_seq OWNER TO admin;

--
-- Name: itens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.itens_id_seq OWNED BY public.itens.id;


--
-- Name: logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.logs (
    id integer NOT NULL,
    tipo character varying,
    item_nome character varying,
    quantidade_movimentada integer,
    data timestamp without time zone
);


ALTER TABLE public.logs OWNER TO admin;

--
-- Name: logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logs_id_seq OWNER TO admin;

--
-- Name: logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.logs_id_seq OWNED BY public.logs.id;


--
-- Name: saidas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.saidas (
    id integer NOT NULL,
    item_id integer,
    ticket character varying,
    patrimonio character varying,
    secretaria character varying,
    quantidade integer,
    data_saida timestamp without time zone
);


ALTER TABLE public.saidas OWNER TO admin;

--
-- Name: saidas_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.saidas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.saidas_id_seq OWNER TO admin;

--
-- Name: saidas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.saidas_id_seq OWNED BY public.saidas.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying,
    senha_hash character varying,
    is_admin boolean
);


ALTER TABLE public.usuarios OWNER TO admin;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO admin;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: entradas id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entradas ALTER COLUMN id SET DEFAULT nextval('public.entradas_id_seq'::regclass);


--
-- Name: itens id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.itens ALTER COLUMN id SET DEFAULT nextval('public.itens_id_seq'::regclass);


--
-- Name: logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.logs ALTER COLUMN id SET DEFAULT nextval('public.logs_id_seq'::regclass);


--
-- Name: saidas id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.saidas ALTER COLUMN id SET DEFAULT nextval('public.saidas_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: entradas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.entradas (id, item_id, nfe, quantidade, data_entrega, observacao) FROM stdin;
1	1	0215	10	2026-02-20 00:00:00	\N
\.


--
-- Data for Name: itens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.itens (id, codigo, nome, quantidade_atual) FROM stdin;
2	1049	CARTUCHO DE TONER 50F4X00/60F4H00 MS410/510/610 MX311/411/511/611 10K RM VICTONER	0
1	1124	UNIDADE IMAGEM LEXMARK 50F0Z00	10
\.


--
-- Data for Name: logs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.logs (id, tipo, item_nome, quantidade_movimentada, data) FROM stdin;
1	ENTRADA	UNIDADE IMAGEM LEXMARK 50F0Z00	10	2026-02-20 11:12:00.212455
\.


--
-- Data for Name: saidas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.saidas (id, item_id, ticket, patrimonio, secretaria, quantidade, data_saida) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.usuarios (id, username, senha_hash, is_admin) FROM stdin;
2	Douglas	$2b$12$omLJQudRMfcC3lBLg4ImjOUi8ilyCe351CzXiy0QKP2WbjJ8msvlO	t
3	Silvana	$2b$12$NpVF9cgNHumJM2TCqgF.X.C0Sf6FcTxrC65FZJ/DwF1rUNkvsYRS.	f
1	admin	$2b$12$5VAcGe.Bz2Bt8rHTz4JvX.B/NJ/2ExVusTldnBh66Lo9lP07f1dl6	t
\.


--
-- Name: entradas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.entradas_id_seq', 1, true);


--
-- Name: itens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.itens_id_seq', 2, true);


--
-- Name: logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.logs_id_seq', 1, true);


--
-- Name: saidas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.saidas_id_seq', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 2, true);


--
-- Name: entradas entradas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entradas
    ADD CONSTRAINT entradas_pkey PRIMARY KEY (id);


--
-- Name: itens itens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.itens
    ADD CONSTRAINT itens_pkey PRIMARY KEY (id);


--
-- Name: logs logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT logs_pkey PRIMARY KEY (id);


--
-- Name: saidas saidas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.saidas
    ADD CONSTRAINT saidas_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_entradas_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_entradas_id ON public.entradas USING btree (id);


--
-- Name: ix_itens_codigo; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_itens_codigo ON public.itens USING btree (codigo);


--
-- Name: ix_itens_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_itens_id ON public.itens USING btree (id);


--
-- Name: ix_logs_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_logs_id ON public.logs USING btree (id);


--
-- Name: ix_saidas_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_saidas_id ON public.saidas USING btree (id);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_usuarios_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: entradas entradas_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entradas
    ADD CONSTRAINT entradas_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.itens(id);


--
-- Name: saidas saidas_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.saidas
    ADD CONSTRAINT saidas_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.itens(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5xuxpygcgYBP3ICpGR5aeQ8UHb3mSWfkN4C38PFPtKj1xCuZCu4vSMft1o5iH2X

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict BIImUtvLo7BNzW0qWeKM1uL5ZWDvMNpFkGQa3dgBiNhhsNYHQvjhZfSj6iiWjOj

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO admin;

\unrestrict BIImUtvLo7BNzW0qWeKM1uL5ZWDvMNpFkGQa3dgBiNhhsNYHQvjhZfSj6iiWjOj
\connect postgres
\restrict BIImUtvLo7BNzW0qWeKM1uL5ZWDvMNpFkGQa3dgBiNhhsNYHQvjhZfSj6iiWjOj

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict BIImUtvLo7BNzW0qWeKM1uL5ZWDvMNpFkGQa3dgBiNhhsNYHQvjhZfSj6iiWjOj

--
-- PostgreSQL database cluster dump complete
--

