version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: estoque_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: senha123
      POSTGRES_DB: estoque_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: estoque_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@estoque.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: